[submodule "external/pybind11"]
	path = external/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = v2.11.1
[submodule "external/pybind11_json"]
	path = external/pybind11_json
	url = git@github.com:pybind/pybind11_json.git
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = git@github.com:zeromq/cppzmq.git
[submodule "external/xtl"]
	path = external/xtl
	url = git@github.com:xtensor-stack/xtl.git
[submodule "external/libzmq"]
	path = external/libzmq
	url = https://github.com/zeromq/libzmq.git
